<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wish.library.member.mapper.MemberMapper">


    <select id="read" resultType="MemberVO">
        select *
        from member
        where email = #{email}

    </select>

    <select id="duplicationCheck" resultType="MemberVO">
        select *
        from member
        where email = #{email}
            or nickname = #{nickname}

    </select>


    <insert id="insert">

        insert into member(email, password, name, nickname, mfCode, cellNo)
        values (#{email}, #{password}, #{name}, #{nickname}, #{mfCode}, #{cellNo})

    </insert>


</mapper>